.StringBorder {
    margin: 4rem 3rem;
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--base-background-color-light);
    border-radius: 1rem;
    font-size: 2rem;
}

.StringBorder--title {
    margin: 5rem 3rem;
    padding: 2rem 2rem;
    font-size: 3rem;
}