.AppHero {
    background-image: url(../../assets/img/IMG_1306_greyFilter700px.jpg);
    background-size: cover;
    background-position-y: 85%;
    background-position-x: 85%;
    height: 45rem;
    text-align: center;
}

.AppHero__profilImg {
    margin-top: 4rem;
    max-height: 240px;
    border-radius: 100%;
}

.AppHero__titleGroup {
    margin: 2rem 0;
}

.AppHero__title {
    font-size: 4rem;
}

.AppHero__subTitle {
    margin-top: 1rem;
    font-size: 2.5rem;
}

@media screen and (min-width:700px) {
    .AppHero {
        background-image: url(../../assets/img/IMG_1306_greyFilter1100px.jpg);
    }
}

@media screen and (min-width:1100px) {
    .AppHero {
        background-image: url(../../assets/img/IMG_1306_greyFilter1920px.jpg);
    }
}