.TextImageDisplay {
    list-style: none;
}

.TextImageDisplay__contentBlock {
    display: flex;
    align-items: center;
    margin: 3rem 3rem 3rem 4rem;
}

.TextImageDisplay__img {
    margin: 0 2rem;
    width: 4rem;
}

@media screen and (min-width: 500px) {
    .TextImageDisplay {
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (min-width: 1100px) {
    .TextImageDisplay {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 540px;
    }

    .TextImageDisplay__contentBlock {
        margin: 3rem 6rem 0 0;
        width: 120px;
    }
}