.TextImageDisplay {
    list-style: none;
}

.TextImageDisplay__contentBlock {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.TextImageDisplay__img {
    width: 4rem;
    margin: 0 2rem;
}