.ChevronIcon {
    width: 60px;
    height: 60px;
    background-color: var(--base-background-color);
    color: var(--base-font-color-detail-dark);
    border-color: var(--base-font-color-detail-dark);
    border-radius: 100%;
    font-size: 3rem;
}