.TextInfoFormat {
    margin: 2rem 0 0 5rem;
}

.TextInfoFormat__content {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.TextInfoFormat__dateBlock {
    width: 14rem;
}

.TextInfoFormat__date {
    display: flex;
    min-width: 150px;
}

.TextInfoFormat__years {
    margin-left: 0.5rem;
}

.TextInfoFormat--detailColor {
    color: var(--base-font-color-detail);
}

.TextInfoFormat__location {
    color: var(--base-font-color-detail-dark);
}

@media screen and (min-width: 420px) {
    .TextInfoFormat__company {
        display: flex;
    }

    .TextInfoFormat__location {
        margin-left: 0.4rem;
    }
}

@media screen and (min-width:500px) {
    .TextInfoFormat {
        width: fit-content;
        margin: 2rem auto;
    }

    .TextInfoFormat__content {
        margin-left: 40px;
    }
}