.MenuTitle {
    position: relative;
    margin: 5rem 3rem;
    max-width: 440px;
    padding: 2rem;
    text-align: center;
    background-color: var(--base-background-color-light);
    border-radius: 1rem;
    transition: border-radius 1s ease-in;
    font-size: 3rem;
}

.MenuTitle--isOpen .MenuTitle {
    border-radius: 1rem 1rem 0 0;
    transition: border-radius 0s ease-out;
}

.MenuTitle__titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuTitle__chevron {
    position: relative;
    left: 2rem;
    font-size: 2.5rem;
    transition: transform 0.5s ease-out;
}

.MenuTitle--isOpen .MenuTitle__chevron {
    transform: rotate(180deg);
}

.MenuTitle__menu {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 2rem auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: var(--base-background-color-light);
    border-radius: 0 0 1rem 1rem;
}

.MenuTitle--isOpen .MenuTitle__menu {
    max-height: 300px;
}

.MenuTitle__link {
    display: block;
    margin: 0.5rem auto;
    padding: 1rem;
    max-width: 250px;
    color: var(--base-font-color);
    text-decoration: none;
    border: solid 2px var(--base-font-color-detail-dark);
    border-radius: 10px;
}

.MenuTitle__link:hover {
    background-color: var(--base-font-color-detail-dark);
}

@media screen and (min-width:500px) {
    .MenuTitle {
        min-width: 440px;
        margin: 5rem auto;
    }
}